.categoria {
    padding-bottom: 2rem;
}

.categoria-title {
    color: white;
    font-weight: bold;
}

.categoria-list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.categoria-list li {
    padding: 1rem;
}

.categoria-link {
    color: white;
    font-size: 1em;
    transition: color ease-in 0.1s;
    text-decoration: none;
}

.categoria-link:hover {
    color: black;
}