.enlaces-gifs {
    display: flex;
    text-align: left;
    justify-content:left;
    flex-direction: row;
    margin: 2rem auto 2rem auto;
}

.barra-busqueda {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3%;
    border: none;
    font-weight: bold;
    margin: 0 auto 0 2rem;
}

.resultado {
    width: 100%;
}

.enlace {
    color: white;
    text-decoration: none;
}

.enlace:visited {
    color: white;
}

