.enlaces-gifs {
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content:left;
    padding: 2rem;
    text-align: left;
}

.busqueda {
    margin: 1rem 2rem 2rem 2rem;
    align-self: center;
}

.barra-busqueda {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3%;
    border: none;
}

.enlace {
    color: white;
    text-decoration: none;
}

.enlace:visited {
    color: white;
}