.enlaces-gifs {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.busqueda {
    margin: 2rem;
}

.barra-busqueda {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3%;
    border: none;
}

.enlace {
    color: white;
    text-decoration: none;
}

.enlace:visited {
    color: white;
}