.Gif {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.imagen-gif {
    width: 100%;
}

small {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    z-index: 3;
    background-color: lightslategray;
    font-weight: bold;
}