@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.App {
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

input, button {
  font-family: 'Poppins', sans-serif;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contenedor {
  width: 80%;
}

.enlace {
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 64px;
}

.enlace:visited {
  color: white;
}